.top-page{
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
}

.top-page-left{
    float: left;
}

.top-page-right{
    float: right;
}

li{
    list-style: none;
}

.top-page li{
    float: left;
}

.top-page-left li a{
    color: #22222290;
    margin-right: 20px;
}

.top-page-left li a i{
    margin-right: 10px;
}

.top-page-right li a{
    color: #22222290;
    margin-right: 20px;
}

.top-page-right li i{
    color: #ffa500;
    margin-right: 10px;
}

.logo{
    float: left;
}

.top-cart{
    float: right;
}

.menu{
    float: right;
}

.menu li{
    float: left;
}

.menu li a{
    float: left;
    margin-right: 20px;

}

.top-cart a{
    margin-left: 20px;
}

.logo a{
    font-size: 40px;
    color: #ffa500;
    font-weight: 500;
    text-shadow: -5px 3px 3px #ffa500;
}














